* {
    outline: red dashed 2px;
}

section {
    display: flex;
    margin: 20px 0;
}
section header {
    flex-basis: 25%;
    border-right: solid black 3px;
    margin-right: 20px;
    text-align: right;
    padding: 40px;
}

section div {
    flex-basis: 75%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

#projects a {
    flex-basis: 50%;
    height: 150px;
}

#projects a:first-child {
    flex-basis: 100%;
    height: 250px;
}